html{
    background-color: black;
    font-family: 'Lexend';
    color: white;
}

body{
    display: flex;
    align-items: center;
}

h1, h3{
    margin: -2px;
}

#bg-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(8px);
    opacity: 0.5;
}


#main{
    min-width: 50%;
    max-width: 80%;
    height: fit-content;
    max-height: 80%;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    background-color: darkslategray;
}

#img-wrapper{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 80%;
    width: auto;
    border-radius: 10px;
}

.tracklist{
    width: 60%;
}

ol{
    column-count: 2;
    column-gap: 10%;
}

ol li{
    margin-bottom: 10px;
}

#body{
    display: flex;
}

#bar-wrapper{
    width: 80%;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

#rating-bar{
    height: 100%;
    width: 0%;
    background-color: mediumseagreen;
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.5s ease-in-out;
}